.margin-auto {
  margin: auto;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 2rem;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}

.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 1;
}

/* Padding Classes */
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 2rem;
}

/* Margin Classes */
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 2rem;
}

/* Border Classes */
.border {
  border: 1px solid black;
}
.border-0 {
  border: 0;
}
.border-1 {
  border: 1px solid black;
}
.border-2 {
  border: 2px solid black;
}
.border-3 {
  border: 3px solid black;
}
.border-4 {
  border: 4px solid black;
}
.border-5 {
  border: 5px solid black;
}
.border-radius {
  border-radius: 0.25rem;
}
.border-radius-0 {
  border-radius: 0;
}
.border-radius-1 {
  border-radius: 0.25rem;
}
.border-radius-2 {
  border-radius: 0.5rem;
}
.border-radius-3 {
  border-radius: 0.75rem;
}
.border-radius-4 {
  border-radius: 1rem;
}
.border-radius-5 {
  border-radius: 1.25rem;
}

/* Utility */

.border-box {
  box-sizing: border-box;
}

/* Aesthetic */
.card-shadow {
  box-shadow: rgba(0,0,0,.6) 3px 3px 5px;
}